<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
	<div class="jumbotron">
<h1> Identity Matcher</h1>
</div>
<div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
            <a href={{ url_for('home') }}>
              <button class="btn btn-success" style="margin-bottom: 10px; border-radius: 0;">Upload More</button>
            </a>
        </div>
    </div>
    <form method="POST" style="margin-bottom: 2em;">
    <div class="custom-file">
      <label class="custom-file-label for="exampleInputPassword1"><center>Identity Search</center></label>
    <input type="file" class="custom-file-input" accept="image/*" id="exampleInputPassword1" name="imgsrc" placeholder="Upload Photo">
  </div>
          <center><br>
          <button id="btn-submit" type="submit" class="btn btn-primary">
            Search
          </button>
      </center>
        </form>
        {%if result_list %}
        <h3> Query Image </h3>
        <img src="{{url_for('static', filename=query_img)}}">
        <!-- <img src="{{ query_img }}"> -->
        <br><br><br>
        <h3>Top 2 Results</h3>
        <div class="row">
        <div>
          <table class="table table-bordered table-striped table-responsive">
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email Id</th>
            <th>Phone Number</th>
            <th>Similarity</th>
          </tr>
        {% for i in range(detail_list|length) %}
          <tr>
            <th>{{i+1}}</th>
            <th>{{detail_list[i][0][1]}}</th>
            <th>{{detail_list[i][0][0]}}</th>
            <th>{{detail_list[i][0][2]}}</th>
            <th>{{similarity_list[i]}} %</th>
          </tr>
        {% endfor %}  
        </table>
        </div>
        </div>
        {% endif %}
</div>
</body>
</html>